*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
}

header{
  background-image: url("./images/Blueprint_02.jpg");
  height: 400px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*  Navbar */
.navbar{
  height: 50px;
  background-color: #000;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu {
  background-color: black;
  color: white;
  padding: 0px 14px 0px 14px;
  height: 100%;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.list {
  display: none;
  position: absolute;
  background-color: black;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.list a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.list a:hover {background-color: rgb(61, 61, 61)}

.dropdown:hover .list {
  display: block;
}

.dropdown:hover .menu {
  background-color: #616161;
}

.title{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-right: 74.66px;
  
}
.title p{
  font-size: 20px;
  color:white;
  align-self: center;
}
.title img {
  display: none;
}
.title:hover p{
  display: none;
}
.title:hover img{
  display: inline;
  width: 90px;
}
.title:hover{
  padding-top: 0px;
}

@media screen and (max-width:800px) {
  .journey{
    font-size: 11.5px;
  }
  .menu{
    font-size: 11.5px;
  }
  .navbar{
    height: 28.5px;
  }

  .list{
    width: 91px;
    font-size: 10px;
  }

  .list a{
    padding: 7px 9px;
  }

  .title p{
    font-size: 10px;
  }

  .title:hover img{
    width: 50px;
  }

}


/* Navbar end */



.event{
  height: 455px;
  background-image: url("./images/Event.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  height: 200px;
  background: #000;
  display: flex;
}


.sosmed{
  height: 200px;
  color: white;
  margin-left: 10px;
}

.sosmed > div{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.sosmed img{
  height: 50px;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 300px;

}

.logo img{
  height: 200px;
}

.copyright{
  color: white;
  display: flex;
  align-items: center;
}

/* image Slider */
.content{
  /* width: 100%; */
  max-height: 1000px;
  background-color: black;
  display: flex;
  justify-content: center;
}

#frame{
  position: relative;
  width: 98%;
  margin-top: 1%;
}

#footerText{
  justify-content: center;
  font-size: 30px;
  align-items: center;
  display: flex;
  height: 50px;
  width: 100%;
  color: White;
  font-family: serif;
}

.footerTextWrap{
  height: 50px;
  background-color: black;
}

.slides{
  display: none;
}

.slides img{
  width: 100%;
  height: 500px;
  /* height: 50%; */
}

.prev img{
  width: 50px;
}
.next img{
  width: 50px;
}

.prev, .next{
  top: 50%;
  position: absolute;
  opacity: 70%;
}

.prev:hover, .next:hover{
  opacity: 100%;
}

.next{
  right: 0;
}

/* Footer */

body::-webkit-scrollbar {
  display: none; 
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


/* Footer  */
footer{
  height: 200px;
  background: #000;
  display: flex;
}
.sosmed{
  height: 200px;
  color: white;
  margin-left: 10px;
}

.sosmed > div{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.sosmed img{
  height: 50px;
}
.sosmed div div{
  font-size: 16px;
}
.sosmed .fb{
  height: 45px;
}
.logo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
  height: 200px;
}

.copyright{
  color: white;
  /* padding-top: 90px */
}
.sosmed2{
    display: none;
}
.sosmed2{
  height: 200px;
  color: white;
  margin-left: 10px;
}

.sosmed2 > div{
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.sosmed2 div img{
  height: 50px;
  padding: 0px;
}
.sosmed2 div div{
  font-size: 16px;
}
.sosmed2 .fb{
  height: 45px;
}
.rightlogo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.avai{
  text-align: center;
  height: 800px;
}
.avai img{
  padding-top: 10%;
  width: 350px;
}

@font-face {
  font-family: font1;
  src: url('./font/Lobster_1.3.otf');
}
@font-face {
  font-family: font2;
  src: url('./font/blackjack.otf');
}
.avai .at1{
  font-size: 50px;
  color:white;
  font-family: font1;
  -webkit-text-stroke: 1.5px rgb(0, 107, 207);
}
.avai .at2{
  font-size: 20px;
  color:white;
  font-family: font2;
}

@media screen and (max-width:360px){
  .copyright{
      padding-top: 90px;
      font-size: 10px;
  }
  .sosmed{
      display: none;
  }
  .sosmed2{
      display: inline;
  }
  .sosmed2 div img{
      height: 25px;
  }
  .sosmed2 div .fb {
      height: 20px;
  }
  .sosmed2 div div{
      font-size: 10px;
  }
  .logo img{
      /* padding-top: 55px; */
      height: 130px;
  }
  .title p{
    font-size: 10px;
    text-align: center;
    margin-left: 18%;
  }

  .avai{
    height: 300px;
  }
  .avai img{
      padding-top: 15%;
      width: 170px;
  }
  .avai .at1{
      font-size: 28px;
      -webkit-text-stroke: 1px rgb(0, 107, 207);
  }
  .avai .at2{
      font-size: 13px;
  }
}

@media screen and (min-width:361px) and (max-width:500px){
  .copyright{
      padding-top: 90px;
      font-size: 14px;
  }
  .sosmed{
      display: none;
  }
  .sosmed2{
      display: inline;
  }
  .sosmed2 div img{
      height: 30px;
  }
  .sosmed2 div .fb {
      height: 25px;
  }
  .sosmed2 div div{
      font-size: 12px;
  }
  .logo img{
      /* padding-top: 40px; */
      height: 150px;
  }
  .title p{
    font-size: 10px;
    text-align: center;
    margin-left: 18%;
  }

  .avai{
    height: 330px;
  }
  .avai img{
      padding-top: 9%;
      width: 230px;
  }
  .avai .at1{
      font-size: 30px;
      -webkit-text-stroke: 1px rgb(0, 107, 207);
  }
  .avai .at2{
      font-size: 15px;
  }
}

@media screen and (min-width:501px) and (max-width:600px){
  .copyright{
      padding-top: 30px;
  }
  .sosmed{
      display: none;
  }
  .sosmed2{
      display: inline;
  }
  .sosmed2 div img{
      height: 35px;
  }
  .sosmed2 div .fb {
      height: 30px;
  }
  .logo img{
      padding-top: 25px;
      height: 160px;
  }

  .avai{
    height: 620px;
  }
  .avai img{
      width: 250px;
      padding-top: 32%;
  }
  .avai .at1{
      font-size: 40px;
      -webkit-text-stroke: 1px rgb(0, 107, 207);
  }
  .avai .at2{
      font-size: 18px;
  }
}

@media screen and (min-width:601px) and (max-width:700px){
  .copyright{
      padding-top: 30px;
  }
  .sosmed{
      display: none;
  }
  .sosmed2{
      display: inline;
  }
  .sosmed2 div img{
      height: 35px;
  }
  .sosmed2 div .fb {
      height: 30px;
  }
  .logo img{
      padding-top: 25px;
      height: 160px;
  }

  .avai{
    height: 650px;
  }
  .avai .at1{
      font-size: 40px;
      -webkit-text-stroke: 1px rgb(0, 107, 207);
  }
  .avai .at2{
      font-size: 18px;
  }
  .avai img{
      padding-top: 24%;
      width: 300px;
  }
}

@media screen and (min-width:701px) and (max-width:800px){
 .sosmed{
     padding-top: 10px;
 }
 .sosmed img{
     height: 35px;
  }
  .sosmed .fb{
      height: 30px;
  }
  .sosmed div div{
      font-size: 13px;
  }
  .logo img{
      padding-top: 25px;
      height: 160px;
  }

  .avai{
    height: 680px;
  }
  .avai img{
      padding-top: 22%;
      width: 300px;
  }
  .avai .at1{
      font-size: 40px;
  }
  .avai .at2{
      font-size: 18px;
  }
}

/* Responsive */


@media screen and (max-width:800px){
  header{
    height: 180px;
  }
}

@media screen and (max-width:360px){
  .event{
    height: 130px;
  }
  .slides img{
    height: 130px;
  }
  header{
    height: 80px;
  }
  .prev img{
    width: 20px;
  }
  .next img{
    width: 20px;
  }
  .footerTextWrap{
    height: 20px;
  }
  #footerText{
    height: 20px;
    font-size: 12px;
  }
  
}

@media screen and (min-width:361px) and (max-width:500px){
  .event{
    height: 150px;
  }
  .slides img{
    height: 140px;
  }
  header{
    height: 100px;
  }
  .prev img{
    width: 25px;
  }
  .next img{
    width: 25px;
  }
  .footerTextWrap{
    height: 25px;
  }
  #footerText{
    height: 25px;
    font-size: 14px;
  }
}

@media screen and (min-width:501px) and (max-width:600px){
  .event{
    height: 200px;
  }
  .slides img{
    height: 190px;
  }
  header{
    height: 120px;
  }
  .prev img{
    width: 30px;
  }
  .next img{
    width: 30px;
  }
  .footerTextWrap{
    height: 30px;
  }
  #footerText{
    height: 30px;
    font-size: 18px;
  }
}

@media screen and (min-width:601px) and (max-width:700px){
  .event{
    height: 245px;
  }
  .slides img{
    height: 230px;
  }
  header{
    height: 140px;
  }
  .prev img{
    width: 35px;
  }
  .next img{
    width: 35px;
  }
  .footerTextWrap{
    height: 35px;
  }
  #footerText{
    height: 35px;
    font-size: 20px;
  }
}

@media screen and (min-width:701px) and (max-width:800px){
  .event{
    height: 275px;
  }
  .slides img{
    height: 300px;
  }
  header{
    height: 180px;
  }
  .prev img{
    width: 40px;
  }
  .next img{
    width: 40px;
  }
  .footerTextWrap{
    height: 40px;
  }
  #footerText{
    height: 40px;
    font-size: 22px;
  }
}
